# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
.env
.venv/
env/
venv/
db.sqlite3

# VSCode, PyCharm
.vscode/
.idea/

# Jupyter Notebooks
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# Node.js / React
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Production
/build/
/frontend/build/
/frontend/node_modules/

# Log files
*.log

# Model weights, large files
runs/
*.pt
*.pth
