# Python
*.pyc
__pycache__/
*.pyo
*.pyd
*.sqlite3
.env
.venv/
venv/
*.log

# Jupyter Notebooks
.ipynb_checkpoints/

# VSCode/PyCharm/IDE
.vscode/
.idea/

# Frontend
node_modules/
build/
dist/

# Data/Weights/Models
*.pt
*.pth
*.onnx
*.ckpt
*.h5
runs/
dataset/
data/
weights/

# MacOS/OS
.DS_Store
